---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Home">
  <section class="page">
    <h1>Eirik Breen</h1>
    <p>
      Software engineer focusing on minimal, accessible, and fast web experiences.
    </p>
    <p>
      Currently building clean user interfaces and writing about it on my <a href="/blog">Blog</a>. Check out some of my <a href="/projects">Projects</a>.
    </p>
  </section>
</BaseLayout>
